<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-4">歡迎使用BuyTogether團購平台</h1>
    <h2>
    	請點選店家總覽查看可選購的商家，<br>
    	點選圖片或店名進入店家頁面，<br>
    	也可選新增商家，增加更多提議大家團購的商店。<br>
    	<br>
    	店家頁面中可進行編輯，或新增商品資訊，<br>
    	點選商品可進入商品頁編輯。<br>
    	<br>
    	選擇喜愛的商品列表就可以發起團購囉。<br>
    	<br>
    	圖片上傳功能目前暫停使用。<br>
    	(部份功能僅供會員使用)
    </h2>
  </div>
</section>